<launch>
  <rosparam file="$(find ar2mav)/drones.yaml" command="load" />
  <node pkg="ar2mav" type="drone_video" name="video_Parrot" respawn="false" output="screen">
	<param name="name" value="Parrot" />
  </node>
  <node pkg="ar2mav" type="calibrate.py" name="calibrate_helper" />
  <node pkg="image_transport" type="republish" name="publisher" args="in:=/Parrot/video x264 out:=/republished/image" />
  <node pkg="camera_calibration" type="cameracalibrator.py" name="calibrator" args="--size 8x6 --square 0.108 image:=/republished/image" />
</launch>


